{% extends "layout.html" %}

{% block title %}
Exam attempts {{year}}Q{{quarter}}
{% endblock %}

{% block body %}

<div class="notification">Attempts from {{start_date}} up till {{end_date}}.</div>

<table>
    {% for module in module_counts %}
        <tr>
            <td><a href="{{module.link}}/index.html">{{module.name}}</a></td>
            <td>{{module.count}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}