{% extends "layout.html" %}

{% block head %}
<script src="/static/sorttable.js"></script>
{% endblock %}

{% block title %}
Feedback overview
{% endblock %}

{% block body %}

<table class="sortable">
    <thead>
        <tr>
            <th>Lesson</th>
            <th># response</th>
            <th>Clarity</th>
            <th>Resource quality</th>
            <th>Difficulty</th>
            <th>Fun</th>
            <th>Overall</th>
        </tr>
    </thead>
        <tbody>
        {% for f in feedback %}
        <tr>
            <td>{{f[0]}}</td>
            <td>{{f[1]}}</td>
            <td>{{f[2]}}</td>
            <td>{{f[3]}}</td>
            <td>{{f[4]}}</td>
            <td>{{f[5]}}</td>
            <td>{{f[6]}}</td>
        </tr>
        {% endfor %}    
    </tbody>
</table>

{% endblock %}