{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/croppie.min.css">
{% if graph %}
<link rel="stylesheet" href="/static/chartist.min.css">
<script src="/static/chartist.min.js"></script>
<script src="/static/chartist-plugin-legend.js"></script>
{% endif %}
{% endblock %}

{% block title %}
<a href="/people">People</a>
<div>{{person.full_name}}</div>
{% endblock %}


{% block body %}


<div class="columns wrap2">

    {% if performance %}
    <article class="card" style="overflow: visible;">
        <!--
        <h2>Mentees</h2>
        {% if mentees %}
            <ul>
            {% for mentee in mentees %}
                <li>{{mentee.name}}: <a href="/curriculum/{{mentee.node_id}}">{{mentee.node}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <div>None.</div>
        {% endif %}
        -->

        <h2>Quarterly stats</h2>
        <table>
            <tr>
                <th>Q</th>
                <th>Work days</th>
                <th colspan="2">Progress</th>
                <th colspan="2">Hours</th>
            </tr>
        {% for quarter in performance.quarters %}
            <tr>
                <td data-tooltip="{{quarter.first | short_date}} - {{quarter.last | short_date}}">{{quarter.quarter}}</td>
                <td>
                    {{quarter.nominal_progress}}
                    {% if quarter.nominal_days != quarter.nominal_progress %}
                    ({{quarter.nominal_days}} onsite)
                    {% endif %}
                </td>
                <td class="align-right">{{quarter.progress}}</td>
                <td class="align-right">({{"%.2f" | format(quarter.progress / quarter.nominal_progress)}}/day)</td>
                <td class="align-right">{{quarter.hours | round | int}}</td>
                <td class="align-right">({{"%.1f" | format(quarter.hours / quarter.nominal_days)}}/day)</td>
                </td>
            </tr>
        {% endfor %}
        </table>

        <h2>Last days</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>From</th>
                <th>Until</th>
                <th>Hours</th>
                <th>Absence?</th>
            </tr>
            {% for day in performance.last_days %}
            <tr{{(' style="color: red;"' if day.suspicious else '') | safe}}>
                <td class="align-right">{{day.date | date}}</td>
                <td>{{day.start}}</td>
                <td>{{day.end}}</td>
                <td class="align-right">{{"%.1f" | format(day.get("hours",0))}}</td>
                <td>
                    {{absent_reasons_dict[day.reason]}}
                </td>
            </tr>
            {% endfor %}
        </table>

        {% if current_user.is_teacher %}
        <h2>Today</h2>
        <section>
            <form method="post" action="/user/report_absent/{{person.short_name}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <select name="reason" oninput="event.currentTarget.parentElement.submit()">
                    {% for k,v in absent_reasons_dict.items() %}
                    <option {%if absent_reason == k %}selected {%endif%}value="{{k}}">{{v}}</option>
                    {% endfor %}
                </select>
            </form>
        </section>
        {% endif %}

    </article>
    {% endif %}


    {% if attempts %}
    <section class="card" id="attempts">
        {% if person.is_teacher %}
        <h2>Latest gradings</h2>
        {% else %}
        <h2>Latest attempts</h2>
        {% endif %}
        <table class="latest_attempts">
            <tr>
                <th>Attempt</th>
                {% if person.is_teacher %}
                <th>Student</th>
                {% else %}
                <th>Start</th>
                <th>Duration</th>
                {% endif %}
                <th>Grade</th>
            </tr>
            {% for attempt in attempts %}
            <tr class="{{attempt.status}}">
                <td>
                    <a href="/curriculum/{{attempt.node_id}}?student={{attempt.student_id}}#attempt_{{attempt.number}}">
                        {{attempt.node_name}} #{{attempt.number}}
                    </a>
                </td>
                {% if person.is_teacher %}
                <td>
                    {{attempt.student.short_name}}
                </td>
                {% else %}
                <td>
                    {{attempt.start_time | date}}
                </td>
                <td>
                    {{"%d:%02d" | format(attempt.hours,(attempt.hours * 60) % 60)}}
                </td>
                {% endif %}
                <td>
                    {{attempt.latest_grading.grade}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
    {% endif%}


    {% if edit_form %}
    <article class="card">
        <h2>Personalia</h2>
        {% from "form-macro.html" import form_macro with context %}
        {{ form_macro(edit_form, action) }}
    </article>
    {% endif %}


    <article class="card">
        {% if update_avatar %}
        <h2>Profile picture</h2>
        <script src="/static/croppie.min.js"></script>
        <div id="avatarPicker">
            <img id="avatarImage" src="{{person.avatar}}" class="avatar is-large">
            <input id="avatarInput" type="file" name="resume">
        </div>
        <div id="avatarFinalizer" style="display: none;">
            <div id="avatarEditor" style="width: 200px; height: 200px; margin-bottom: 40px;"></div>
            <div class="buttons wide">
                <button id="avatarCancelButton" class="secondary">Cancel</button>
                <button id="avatarUploadButton">Upload</button>
                <form id="avatarForm" action="/people/{{person.id}}/avatar" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input name="avatar" id="avatarHiddenInput" type="hidden">
                </form>
            </div>
        </div>
        {% else %}
        <img id="avatarImage" src="{{person.avatar}}" class="avatar is-large">
        {% endif %}

        {% if current_user.id != person.id %}
        <h2>Actions</h2>
        <section>
            <div class="buttons wide">
                <a role="button" target="_blank" href="mailto:{{person.email}}">Email</a>
                <a role="button" target="_blank" href="https://teams.microsoft.com/l/chat/0/0?users={{person.email}}">Teams chat</a>

                {% if current_user.is_teacher and not person.is_inspector %}
                <a role="button" href="/curriculum{{person.url_query}}">Learning</a>
                {% endif %}

                {% if current_user.level >= 80 %}
                <form method="post" action="/user/impersonate/{{person.short_name}}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input role="button" class="is-important" type="submit" value="Impersonate">
                </form>
                {% endif %}
            </div>
        </section>
        {% endif %}

    </article>
    <script>
        let croppie = new Croppie(document.getElementById('avatarEditor'), {
            viewport: {
                width: 200,
                height: 200,
                type: 'circle'
            },
            enableExif: true
        });
        function showFinalizer(val) {
            document.getElementById("avatarFinalizer").style.display = val ? "block" : "none";
            document.getElementById("avatarPicker").style.display = val ? "none" : "block";
        }
        document.getElementById("avatarInput").addEventListener("change", function(changeEvent) {
            let files = changeEvent.target.files;
            if (files && files[0]) {
                var reader = new FileReader();
                reader.onload = function (loadEvent) {
                    showFinalizer(true);
                    let editor = document.getElementById("avatarEditor");
                    editor.classList.add("ready");
                    croppie.bind({url: loadEvent.target.result});
                };
                reader.readAsDataURL(files[0]);
            }
        });
        document.getElementById("avatarCancelButton").addEventListener('click', function() {
            showFinalizer(false);
        });
        document.getElementById("avatarUploadButton").addEventListener('click', function() {
            croppie.result({type: 'base64', format: 'jpeg', circle: false}).then(function(base64) {
                document.getElementById("avatarHiddenInput").value = base64;
                document.getElementById("avatarForm").submit();
            })
        });
    </script>

</div>


{% if graph %}
<section class="card mar3">
    <h2>Graph</h2>
    <div class="ct-chart mar4"></div>
<script>
    let data = {{graph | json | safe}};
    new Chartist.Line('.ct-chart', data, {
        plugins: Object.keys(data.series).length>1 ? [
            Chartist.plugins.legend()
        ] : [],
        height: '300px',
    });
</script>
</section>
{% endif %}

{% endblock %}
