{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block title %}
Trial days
{% endblock %}

{% block body %}

<table>
    <tr><th>Date</th><th>Slots</th><th>Students</th></tr>
{% for day in scheduled %}
    <tr>
        <td>{{day.date|date}}</td>
        <td>{{day.slots}}</td>
        <td>
            <ul>
                {% for student in day.students %}
                <li>
                    {{student.first_name}} {{student.last_name}}
                    · <a href="{{student.url}}">Reschedule</a>
                    · <a href="mailto:{{student.email}}">Email</a>
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>



<div class="card">
    <h2>Add/update availability</h2>
    {{ form_macro(day_form, "") }}
</div>

<div class="card">
    <h2>Add a student</h2>
    {{ form_macro(student_form, "") }}
</div>

{% endblock %}