<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stupidly Simple Search Service</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>